html {
    background: linear-gradient(to bottom, #1f0027, #1b0030, #490081);
    height: 100%;
    user-select: none;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    flex-direction: column;
  }

  .carousel-container {
    width: 80%;
    overflow: hidden;
    border: none;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 90px 30px black;
  }

  .carousel {
    display: flex;
    transition: transform 1s ease;
    will-change: transform;
  }

  img {
    width: 1300px;
    height: 800px;
    margin: 0 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 80px 30px rgb(17, 0, 13);
  }
  img:hover{
    opacity: 0.7;
  }

  .control-button {
    background-color: #2a0064;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 108px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
    padding: 90px;
    padding-block:380px ;
    position: absolute;
    top: 1020px;
    right: 250px;
    box-shadow: 0px 0px 90px 30px black;
  }


  .control-button:hover {
    background-color: #21006e;
  }
