html {
    background: linear-gradient(to bottom, #1f0027, #1b0030, rgb(73, 0, 129));
    height: 100%;
    user-select: none;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.navigation-bar{
    background:linear-gradient(to right, rgb(69, 69, 69), black, rgb(73, 0, 129))

}

img{
  opacity: 0.70;
}
.carousel-control-next-icon{
  color: aliceblue;
}