html{
    background: linear-gradient(to bottom, #1f0027,#1b0030, #490081);
    height: 100%;
    user-select: none; /* Para impedir a seleção */
}
header{
    color: #d5d5d5;
    position: absolute;
    left: 630px;
    top: 200px;
    width: 600px;
    text-shadow: 2px 2px 10px #636363;
}
.ticker{
    display: flex;
    width: 100%;
    background-color:rgb(0, 0, 0);
    overflow: hidden;
}
.ticker_list{
    display: flex;
    align-items: center;
    list-style: none;
    animation: ticker 7s infinite linear;

}
.ticker_item{
    padding: 0.5rem 1rem;
    border-right: 1px solid black;
    color: white
}

@keyframes ticker {
    0% {
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}
i{



}

.navigation_bar{



}

img{
    width: 1000px;
    height: 800px;
}
.main_news_chiriro{   
    position: absolute;
    top: 15%;
    left: 40%; 
    
}

.main_news_haikyu{
    position: absolute;
    top: 15%;
    left: 2%;
  
}
.main_news_kny{

    position: absolute;
    top: 15%;
    left: 80%;
    
}

.main_news {    
    background: #a65f5f;
   
}