html{
    background: linear-gradient(to bottom, #1f0027,#1b0030, #490081);
    height: 100%;
    user-select: none;
}

img{
    width: 780px;
    height: 500px;
    margin: 38px;
    border-radius: 10px;
    opacity: 0.17;
    box-shadow: 0px 0px 80px 20px rgb(39, 0, 22);
}
form{
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: #1b0030;
    background-color: white;
    color: black;
    
}

